.main-select {
  display: flex;
  width: 100%;
}

.value-container {
  display: flex;
  align-items: center;
  flex-basis: auto;
  margin-left: 2px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.08);
}

.option {
  display: flex;
  align-items: center;
  flex-basis: auto;
  font-size: 14px;
  scroll-padding-top: 0;
}

.option .item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option .flag {
  display: block;
  margin-right: 0.5rem;
  width: 14px;
  height: 10px;
  flex: 0 0 auto;
}

.option .label {
  display: block;
}

.no-options-message {
  display: flex;
  align-items: center;
  flex-basis: auto;
  font-size: 14px;
}

.no-options-message .item {
  display: flex;
  align-items: flex-start;
}

.no-options-message .label {
  display: block;
}

.target-button:hover {
  border-color: rgb(130 130 130);
}
